In [1]:
import pandas as pd
import numpy as np

In [11]:
names = ['nikolovski2014', 'E14TG2aR', 'itzhak2017', 'hirst2018',
           'LOPITDC2019', 'orre2019', 'mulvey2021']
df = pd.DataFrame()
for name in names:
    data = pd.read_csv(f'../data/input_rawdata/{name}/{name}.csv', index_col=0)
    data['Data'] = name
    data = data[['Data', 'markers']]
    df = pd.concat([df, data], axis=0)

In [42]:
dk = pd.DataFrame(df.groupby('Data')['markers'].value_counts())
dk.columns=['Count']
dk = dk.reset_index()

In [50]:

dk['Data'] = pd.Categorical(dk['Data'], categories=names)
dk=dk.sort_values(by=['Data', 'markers'], axis=0)

In [46]:
dk.sort_values(by=['Data', 'markers'], axis=0)

              Data          markers  Count
67  nikolovski2014          Cytosol     15
61  nikolovski2014               ER     63
66  nikolovski2014            Golgi     26
62  nikolovski2014    Mitochondrion     51
64  nikolovski2014               PM     27
..             ...              ...    ...
58      mulvey2021        Nucleolus     38
50      mulvey2021          Nucleus     91
59      mulvey2021       Peroxisome     29
53      mulvey2021  Plasma Membrane     72
48      mulvey2021          unknown   3282

[85 rows x 3 columns]

In [52]:
dk.to_csv('../output/MarkerTable.csv', index=None)